<!DOCTYPE html>
  <html>
  
  <head>
    <title>Forgot Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootsrap3 link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  </head>
  
  <body>
  
    <!-- forget form start here -->
    <div class="container forget-form ">
  
      <h3>Forgot Password</h3>
  
      <div id="success">
        <div class="alert alert-success">
        <strong>Success!</strong> <br> <span id="res"></span>
        </div>
      </div>
  
      <div id="error">
        <div class="alert alert-danger">
        <strong>Error!</strong> <br> <span id="err"></span>
        </div>
      </div>
  
  
      <form id="searchForm">
        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email ID" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="newpassword" name="newPwd" placeholder="Enter Password"
           required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="confirmpassword" name="conPwd" placeholder="Enter Confirm Password"
           required>
        </div>
        <button type="submit" class="btn btn-default btn-submit">Submit</button>
      </form>
    </div>
    <!-- forget form end here -->
  
    <!-- css starts here -->
    <style>
      .container.forget-form {
        max-width: 365px;
        margin-top: 100px;
      }
  
      .container.forget-form h3 {
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
      }
  
      button.btn-submit {
        width: 100%;
        background: #b3f5da;
        border: none;
        color: #ffffff;
        font-weight: 600;
      }
  
      button.btn-submit:hover {
        background: #b3f5da;
        border: none;
        color: #000;
        font-weight: 500;
      }
    </style>
  
    <!-- css ends here -->
  
    <script>
      $(document).ready(function () {
        $("#success").hide();
        $("#error").hide();
      });
  
      (function ($) {
        function processForm(e) {
          $.ajax({
            url         : "<%= data.url %>",
            type        : 'post',
            dataType    : "text",
            contentType : 'application/x-www-form-urlencoded',
            data: $(this).serialize(),
            success: function (data, textStatus, jQxhr) {
              $("#success").show();
              $("#error").hide();
              window.location = "<%= data.loginUrl %>";
            },
            error: function (jqXhr, textStatus, errorThrown) {
              let getData = JSON.parse(jqXhr.responseText);
						  document.getElementById('err').innerHTML = getData.message
              $("#success").hide();
              $("#error").show().fadeOut(2000);
            }
          });
          e.preventDefault();
        }
        $('#searchForm').submit(processForm);
      })(jQuery);
    </script>
  </body>
  </html>